.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
  color: white;
}

h1 {
  text-align: center;
}

ol {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.part {
  padding-left: 10px;
  padding-right: 10px;
}

.measures {
  display: flex;
  flex-wrap: wrap;
}

.measure {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  margin-right: 2em;
  border-right: 1px solid white;
  position: relative;
}

.measureNumber {
  position: absolute;
  bottom: 0;
  right: 0;
}

.measure .stave {
  display: flex;
  margin-bottom: 1em;
}

.measure li {
  list-style-type: none;
  margin-right: 0.5em;
  white-space: pre-wrap;
}

@media print {

  .App {
    background-color:  none;
    color: black;
  }

  .measure {
    border-color: black;
    page-break-inside: avoid;
  }

  .stave {
    page-break-inside: avoid;
  }
  
  .fileselect {
    display: none;
  }

}
